{% extends "app_five/base.html" %}
{% block body_block %}
<div class="container">

<h1>Please Fill the Registration Form</h1>
<form class="row g-3" method="post">
  <div class="row g-3">
  <div class="col">
    <label class="form-label">First Name</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="fname">
  </div>
  <div class="col">
    <label class="form-label">Last Name</label>
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lname">
  </div>
</div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="email">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Phone Number</label>
    <input type="text" class="form-control" name="number">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="password">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirm Password</label>
    <input type="text" class="form-control" id="inputPassword4" name="cf_password">
  </div>
  <div class="col-4">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Falt No." name="flat">
  </div>
  <div class="col-4">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment" name="society">
  </div>
  <div class="col-4">
    <label for="inputAddress2" class="form-label">Address 3</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Area" name="area">
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity" name="city">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <input type="text" class="form-control" name="state">
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" name="zip" id="inputZip">
  </div>
  <div class="col-sm-3">
    <label class="form-label">Gender</label>
    <select class="form-select" id="specificSizeSelect" name="gender">
      <option selected>Choose...</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Others</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
  {% csrf_token %}
</form>
</div>


{% endblock %}
